body { background: #6c3af1; margin: 0; font-family: sans-serif; }
.storefront-container { padding: 28px; display: flex; }
.block-uploader-0 { color: #947d2d; font-size: 16px; margin-bottom: 5px; }
.block-token-1 { color: #30cf8e; font-size: 17px; margin-bottom: 5px; }
.block-database-2 { color: #cf4ae1; font-size: 15px; margin-bottom: 5px; }
.block-invoice-3 { color: #274bd4; font-size: 16px; margin-bottom: 5px; }
.block-cluster-4 { color: #3d8aab; font-size: 15px; margin-bottom: 5px; }